<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{affichage?.nom}}</td>
            <td>{{affichage?.prenom}}</td>
            <td>adamadieye780@gmail.com</td>
            <td>778888888</td>
            <i class="bi bi-archive"></i>
            <i class="bi bi-pencil"></i>
            <i class="bi bi-arrow-repeat"></i>
          </tr>
          <tr>

            <td>Marieme</td>
            <td>soww</td>
            <td>mariecherif@gmail.com</td>
            <td>777777777</td>
            <i class="bi bi-archive"></i>
            <i class="bi bi-pencil"></i>
            <i class="bi bi-arrow-repeat"></i>
          </tr>
          <tr>
            <td>Fatima</td>
            <td>ndiaye</td>
            <td>mamefatimandiaye@gmail.com</td>
            <td>778509924</td>
            <i class="bi bi-archive"></i>
            <i class="bi bi-pencil"></i>
            <i class="bi bi-arrow-repeat"></i>
          </tr>
        </tbody>
      </table>
</body>
</html>
