<div class="w-100 d-flex" style="background-color: #050606; height:150px ">
    <div style="margin-left:50px">
        <img src="../assets/images/mbaye.jpeg" style="margin-left:50px ;height:95px; width:95px; margin-top: 30px;" class="rounded-circle border border-1 mt-8">
         <p title="Matricule" class="h5 text-white">SN-2022-G</p>

    </div>
    <div class="align-self-end">
         <p class="h2 text-white mb-5"><span> cheikh sall</span></p>

    </div>



    <div class="align-self-end position-relative top-0 start-50 " style="margin-left:-50px; display:flex; gap:35px;">

    
         <span class="h6 text-white mb-0 ">Liste des actif <a class="text-reset" href="archer.php?arc='.$ID.'"> </a></span>
         <span class="h6 text-white mb-0">Liste des archives <a class="text-reset" href="archer.php?arc='.$ID.'"> </a></span>
    </div>

    <div class="position-relative top-0 start-50" style="margin-left:150px"><i class="bi bi-box-arrow-left" style="color:white;"></i><a class="text-reset" href="../modeles/deconnexion.php">
              
              <p class="h5 text-white ">
         </a>

    </div>
</div>

